<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Sklep</title>
</head>
<body>
    <div>
        <h1 style="color:blue">Ptasznikoland</h1>
    </div>
    <div style="clear:both"></div>
    <div style="width:200px; float:left">

        <h3>MENU:</h3>

        {% for kat in kategorie %}
            <p><a href = "/kategorie/{{ kat.id }}"> {{ kat.nazwa }} </a> </p>
        {% endfor %}
    </div>
    <div style="width:700; float:left">
        {% block produkty %} {% endblock produkty %}
    </div>
    <div style="clear:both"></div>
</body>
</html>